  ul {color:red;}
  a1 {color:#C70039;}
  a  {color:#5F04B4;}
  p  {color:#288655;}
  w  {color:white;}
  body {font-family: Arial, Helvetica, sans-serif;}
  h1 {color:#0B615E;}
  h2 {color:#0B615E;}
  h3 {color:#0B615E;}
  c {color:#0B615E;}
  .c {cursor: pointer;}
  button {
    background-color: #148f77;
    border: none;
    color: white;
    padding: 10px 27px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  td, th {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #F5FBEF;
  }
  th {
    color: #0B3B39;
    background-color: #04B4AE;
  }
  input[type=submit] {
    background-color: #DF013A;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
    opacity: 1;
  }
  .dropdown {
    position:relative;margin-right:95%;
    display: block;
  }
  .dropbtn {
      background-color:#088A68;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      position:relative;left:50px
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #E0F8E0;
      min-width: 160px;
      z-index: 1;

  }
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  .dropdown-content a:hover {background-color: #A9F5BC}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: black;}
  .popup{
    display: none;
    background-color: #eafaf1 ;
    position: relative;
    margin-top: -11%;;
    margin-right: 40%;
    margin-left: 42%;
    text-align: center;
    }
  .form-popup {
    text-align: center;
    display: none;
    position: fixed;
    bottom: 18%;
    right: 30%;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  .form-container {
    max-width: 100%;
    padding: 4px;
    background-color: white;
  }
  .form-container input[type=number]{
    padding: 10px;
    color: black;
    margin: 5px 1 22px 1;
    border: none;
    background: #EFF8FB;
  }
  .form-container input[type=text]{
    color: black;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: #EFF8FB;
  }
  .form-container .btn {
    background-color: #148f77 ;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: red;
    width: 50%;
  }
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
   }
  #confirm {
    display: none;
    border: 2px solid #aaa;
    width: 100%;
    padding: 5px 5px 5px 4px;
    border-color: blueviolet;
    margin-left: 0px;
    top: 25%;
    position: absolute;
    background-color: aliceblue;
    text-align: center;
  }
 label {color: #0d5c4c;}
 .disableDiv {
    pointer-events: none;
    opacity: 0.4;
  }
  .enableDiv {opacity: 10;}
