{% extends 'base.html' %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block content %}
    <style>
    h2  {color:green;}
    p  {color:brown;}
    a1  {color:blue;}
    button {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 27px;
    }
    </style>
  <center>
  <h2>Cambiar Contraseña</h2>
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}</p>
    {% endfor %}
    <button type="submit">Guardar Cambios</button>
    {% if form.is_valid %}
    <ul class="messages">
      <a1>Su contraseña fue cambiada con éxito!</a1>
    </ul>
    {% endif %}
  </form><br>
  <a href="{% url 'home' %}">Cancelar</a>
{% endblock %}
