{% block content %}
<style>
  div#back{
    position:relative;
    left:-1%;
  }
  div#myPopup{
    position: absolute;
    left: 34.3%;
    top: 23.9%;
    right: 36%;
  }
  #myPopup2{
    display:auto;
    position:fixed;
    top: 19.5%;
    border: 2px solid #aaa;
    border-color: blueviolet;
    z-index:1;
    text-align: center;
    background-color: #58ACFA;
    color: #F8E0E0;
  }
  div#myForm{
    display: none;
    border: 2px solid #aaa;
    width: 100%;
    padding: 5px 5px 5px 4px;
    border-color: blueviolet;
    left: 0px;
    top: 30%;
    position: absolute;
    background-color: aliceblue;
    text-align: center;
  }
  form-container {
    max-width: 100%;
    padding: 4px;
    background-color: #d9edf7;
  }
</style>
  {% if messages %}
     {% for message in messages %}
       <center>
         <h1>{{ message }}</h1>
       </center>
     {% endfor %}
  {% endif %}
  <div id="back">
    <div id="price">
      <center><br><h3>Dinero Liquido Disponible: ${{virtual_money}}</h3></center>
      {% include 'perfiles/price.html' %}
    </div>
  </div>
  <div class="form-popup" id="myPopup">
    <form action="{% url 'buy' %}" method="POST" class="form-container"
      onsubmit="confirm(event, {{virtual_money}})" id="buy_form">
      <h2>Comprar Activo</h2>
      {% csrf_token %}
      {{ form.as_p }}
      <b id="total">Subtotal: $0</b><br>
      <b>Saldo disponible: ${{virtual_money}}</b><br><br>
      <center>
      <input id="accept" type="submit" value="Confirmar">
      <button type="button" id="cancel" class="btn cancel" onclick="closeForm()">
      Cancelar</button>
    </form>
    <div id="confirm">
     <b class="message"></b><br><br>
        <center>
       <button class="yes" onclick="success()">Si</button>&nbsp&nbsp
       <button class="no" onclick="window.location=url">No</button><br><br>
    <b id="time"></b>
    </div>
    <div class="popuptext" id="myForm">
      <h4>El activo sera visible por otros jugadores</h4>
      <input id="accept" type="button" value="aceptar" onclick="enviar()">
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script>
  document.getElementById("nameC").innerHTML = "Compra"; 
  </script>
  <script>


  var url="http://localhost:8000";
  function enviar() {
    document.getElementById("myForm").style.display = "none";
    var amount = document.getElementById("id_total_amount").value;
    var total_amount = localStorage.sell * amount;
    totalTiempo=5;
    buy_confirm = $("#confirm");
    msg = msg_confirm(amount, total_amount);
    buy_confirm.find(".message").text(msg);
    updateReloj();
    buy_confirm.show();
  };
  function openFormu() {
    document.getElementById("id_visibility").disabled = true;
    document.getElementById("myForm").style.display = "block";
  };
  function success() {
    alert("La compra se realizo con exito!!");
    document.getElementById("id_total_amount").disabled = false;
    document.getElementById("id_name").disabled = false;
    document.getElementById("id_visibility").disabled = false;
    document.getElementById("my_form").submit();
  };
  function openForm(value, name) {
    document.getElementById("myPopup").style.display = "block";
    document.getElementById("price").style['pointer-events'] = "none";
    document.getElementById("price").style.opacity = 0.4;
    document.getElementById("id_total_amount").value = "";
    document.getElementById("id_name").disabled = true;
    document.getElementById("id_visibility").disabled = false;
    localStorage.setItem('sell', value.sell);
    localStorage.setItem('buy', value.buy);
    localStorage.setItem('names', name);
    document.getElementById("id_name").value = localStorage.names;
    setTimeout("enableDiv()",1);
  }
  function enableDiv() {
    $("#back").click(function() {
    window.location="http://localhost:8000/buy";
    });
  }
  function closeForm() {
    window.location="http://localhost:8000/buy";
  }
  function enable_form() {
    document.getElementById("accept").disabled = false;
    document.getElementById("cancel").disabled = false;
    document.getElementById("id_total_amount").disabled = false;
    document.getElementById("id_total_amount").value = "";
    document.getElementById("id_visibility").disabled = false;
    document.getElementById("total").innerHTML = "Subtotal: $0";
  }
  function updateReloj() {
    document.getElementById('time').innerHTML = `${totalTiempo}`;
    var close = $("#confirm");
    if (totalTiempo==0) {
      close.hide();
      enable_form();
      document.getElementById('time').innerHTML = "";
    } else {
        totalTiempo-=1;
        setTimeout("updateReloj()",1000);
    }
  }
  function msg_confirm(amount, total_amount ){
    localStorage.setItem('amounts', amount);
    localStorage.setItem('total_amount', total_amount);
    var msg = `Activo adquirido: ${localStorage.names}.
    A seleccionado: ${amount}.
    Precio compra: ${localStorage.sell},
    Precio venta: ${localStorage.buy}.
    A un total de: ${total_amount}.
    ¿Esta seguro que desea comprar esta cantidad del activo?`
  return msg;
  }
  function confirm(event, virtual_money) {
    event.preventDefault();
    document.getElementById("accept").disabled = true;
    document.getElementById("cancel").disabled = true;
    document.getElementById("id_total_amount").disabled = true;
    var amount = document.getElementById("id_total_amount").value;
    var total_amount = localStorage.sell * amount;
    visibility = document.getElementById("id_visibility").value;
    if (amount > 0) {
      if (virtual_money >= total_amount) {
        if (visibility == 'True') {
          openFormu();
        } else {
          totalTiempo=5;
          buy_confirm = $("#confirm");
          msg = msg_confirm(amount, total_amount );
          buy_confirm.find(".message").text(msg);
          updateReloj();
          buy_confirm.show();
        } 
      } else {
        alert("No dispone saldo suficiente para realizar la compra");
        enable_form();
      }
    } else {
      alert("Ingrese un numero valido (mayor a cero)");
      enable_form();
    }
  }
  $("#id_total_amount").change(function () {
    var amount = $("#id_total_amount").val();
    var total = amount * localStorage.sell;
    document.getElementById("total").innerHTML = "Subtotal $" + total;
  });
  $("#id_total_amount").keyup(function () {
    var amount2 =  $(this).val();
    var total2 = amount2 * localStorage.sell;
    document.getElementById("total").innerHTML = "Subtotal $" + total2;
  });
  </script>
  {% if mj == True %}
    <div class="popuptext" id="myPopup2">
      <h3 id="mj"></h3>
    </div>
  <head><script>
    document.getElementById("price").style['pointer-events'] = "none";
  </script></head>
  <script>
  document.getElementById("mj").innerHTML =
    "Su compra del activo: " + localStorage.names +
    " por una cantidad de: " + localStorage.amounts +
    " a un precio total de: $" + localStorage.total_amount +
    " Fue un exito, su actual saldo en dinero liquido es: $" +
    '{{virtual_money}}' + "." +
    '<br><br><center><button onclick="send()">Ver mi cartera</button>' +
    '&nbsp&nbsp<button onclick="closeForm()">Continuar comprando</button></center>';
    function send() {
      window.location="http://localhost:8000/wallet";
    }
  </script>
  {% endif %}
{% endblock content %}
