{% extends "base.html" %}
{% block title %}Activos{% endblock %}
{% block content %}
  <style>
  .dropbtn {
    position:relative;left:-41%;
  }
  h2 {
    text-align:center;
  }
  </style>
  <div><br>
  <center>
  <h2 id="not_assets"></h2><br>
  <h1 id="nameC">Cotizaciones</h1>
  <div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
      <a href="{% url 'home' %}">Volver al Inicio</a>
      <a href="{% url 'profile' %}">Mi perfil</a>
      <a href="{% url 'wallet' %}">Cartera de Inversiones</a>
      <a href="{% url 'price' %}">Ver Cotizaciones</a>
      <a href="{% url 'buy' %}">Comprar Activo</a>
      <a href="{% url 'transaction_history' %}">Mis Transacciones</a>
      <a href="{% url 'change_password' %}">Cambiar Contraseña</a>
      <a href="{% url 'sign_out' %}">Cerrar Sesión</a>
    </div>
  </div>
  {% if assets %}
    <table id="tab">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Valor de Compra</th>
          <th>Valor de Venta</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
      {% for keys, values in assets %}
        {% if values.sell != None and values.buy != None %}
        <tr>
          <td><c onclick="openForm({{ values }}, {{ keys }})">{{ keys.1 }}</c>
          </td>
          <td>{{ values.sell }}</td>
          <td>{{ values.buy }}</td>
          <td>{{ keys.0 }}</td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  <script>
    var there_are_assets = false;
    {% for keys, values in assets %}
       {% if values.sell != null and values.buy != null %}
        there_are_assets = true;
        break;
      {% endif %}
    {% endfor %}
    {% if there_are_assets == false %}
      document.getElementById("not_assets").innerHTML ="No hay activos disponibles para mostrar"
      document.getElementById("tab").innerHTML = ""
      document.getElementById("nameC").innerHTML = ""
      document.getElementById("buy").innerHTML = ""
    {% endif %}
  </script>
  {% else %}
    <center>
    <h2>No hay activos disponibles</h2>
  {% endif %}
  </div>
{% endblock content %}
