{% extends "base.html" %}
{% block title %}Activos{% endblock %}
{% block content %}
  <div><br>
  <center>
  <h2 id="not_assets"></h2><br>
  <a id="init" href="{% url 'home' %}">Volver al inicio</a>
  <h1 id="nameC">Cotizaciones</h1>
  {% if assets %}
    <table id="tab">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Valor de Compra</th>
          <th>Valor de Venta</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
      {% for keys, values in assets %}
        {% if values.sell != None and values.buy != None %}
        <tr>
          <td><c onclick="openForm({{ values }}, {{ keys }})">{{ keys.1 }}</c>
          </td>
          <td>{{ values.sell }}</td>
          <td>{{ values.buy }}</td>
          <td>{{ keys.0 }}</td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  <br><a id="buy" href="{% url 'buy' %}">Comprar Activo</a>&nbsp
  &nbsp<a href="{% url 'wallet' %}">Vender Activo</a>
  <script>
    var there_are_assets = false;
    {% for keys, values in assets %}
       {% if values.sell != null and values.buy != null %}
        there_are_assets = true;
        break;
      {% endif %}
    {% endfor %}
    {% if there_are_assets == false %}
      document.getElementById("not_assets").innerHTML ="No hay activos disponibles para mostrar"
      document.getElementById("tab").innerHTML = ""
      document.getElementById("nameC").innerHTML = ""
      document.getElementById("buy").innerHTML = ""
    {% endif %}
  </script>
  {% else %}
    <center>
    <h2>No hay activos disponibles</h2>
    <br><a href="{% url 'home' %}">Volver al inicio</a>
  {% endif %}
  </div>
{% endblock content %}
