<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Venta de Activo{% endblock %}
{% block content %}

<head>
<title>Venta de Activos</title>
<meta charset="utf-8">
<style type="text/css">
body
{
 background-color:blue; 
 }

</style>
</head>
 <font color="#030303" face="georgia" size="4"> 
<center>
</html>
<body>
  <form action="" method="get" name="formu" id="formu" onsubmit="return false;">
  <br>
    Tu cantidad: <input type="number" id="num" name="cantidad" value="" min="1"
                       pattern="^[1-9]\d*$">
  </br>
  </form>

<button class="open-button" onclick="openForm({{virtual_money}}, event)">Confirmar</button>
<button
    class="enlace" onclick="window.location='{% url 'home' %}'">Cancelar
</button>

<div class="form-popup" id="myForm">
    <form method="POST" class="form-container" onsubmit="Respuesta()" id="form">{% csrf_token %}
    <h1>RESUMEN</h1>
      {{ form.as_p }}
    <p>Estas seguro de realizar esta operacion?</p>
    <input id="accept" type="submit" value="Si">
    <button type="button" class="btn" onclick="closeForm()">NO</button>
  </form>
</div>

<script>
function comprobar() {
    var cantidad = document.formu.cantidad.value;
    var loc= document.location.href;
    var nombre,cotizacion,dinero_liq, devolver;
    var lista = [];
    var getDato;
    var virtual_money = virtual_money;
    if(loc.indexOf('?')>0){
        var getString1 = loc.split("?")[1];
        for (i=0;i<3;i++) {
            getDato = getString1.split("&")[i];
            lista[i] = getDato.split("=")[1];
        }
        if ( lista[1] < cantidad) {
            closeForm();
            alert("Te pasaste con la cantidad, intente nuevamente.");
            document.getElementById("num").disabled = false;
        } else if (cantidad < 0) {
            closeForm();
            alert("Numero negativo no esta permitido, intente nuevamente.");
            document.getElementById("num").disabled = false;
        } else {
            devolver = {
            nombre: lista[0],
            cantidad: cantidad,
            cotizacion: lista[2],
            }
            return devolver;
        }
    }
}
function Respuesta() {
    alert("La venta se realizo con exito, Felicidades!!!");
    document.getElementById("id_name").disabled = false;
    document.getElementById("id_total_amount").disabled = false;
    document.getElementById("id_price_sell").disabled = false;
    document.getElementById("dinero_liq").disabled = false;
    document.getElementById("form").submit();
    closeForm();
}

function openForm(v_money, event) {
    var valor = comprobar();
    if (0 < valor.cantidad) {
        document.getElementById("myForm").style.display = "block";
        document.getElementById("num").disabled = true;
        event.preventDefault();
        document.getElementById("id_name").value = valor.nombre;
        document.getElementById("id_total_amount").value = valor.cantidad;
        document.getElementById("id_total_amount").disabled = true;
        document.getElementById("id_price_sell").value = valor.cotizacion;
        document.getElementById("id_price_sell").disabled = true;
        document.getElementById("id_virtual_money").value = v_money;
        document.getElementById("id_virtual_money").disabled = true;
        setTimeout('closeForm()',5000);
    }else{
        closeForm();
    }
}

function closeForm() {
    document.getElementById("myForm").style.display = "none";
}
</script>
</body>
</html>

{% endblock content %}

