{% extends "base.html" %}
{% block title %}Cartera de Inversiones{% endblock %}
{% block content %}
  
<center>
  <h2>Cartera de inversiones</h2>
  <h2> Nombre : {{user.username}}</h2>
  {% if my_assets %}
    <TABLE BORDER>
      <TR>
        <TH>Nombre</TH>
        <TH>Cantidad</TH>
        <TH>Tipo</TH>
        <TH>Valor de adquisición</TH>
        <TH>Valor de compra</TH>
        <TH>Valor de venta</TH>
      </TR>
      <tbody>
      {% for asset in my_assets %}
        {% for keys, values in assets %}
          {% if keys.1 == asset.name %}
          <tr> 
          {% if asset.total_amount != 0 and values.buy != None and values.sell != None  %}
            <td><a href= "{% url 'salle' %}?name={{asset.name}}&count={{asset.total_amount }}&cotiz={{ values.buy}}"> {{ asset.name }}</td>
          {% else %}
            <td>{{ asset.name }}</td>
          {% endif %}
            <td>{{ asset.total_amount }}</td>
            <td>{{ asset.type_asset }}</td>
            <td>${{ asset.old_unit_value }}</td>
          {% if values.buy != None and values.buy != None %}
            <td>${{ values.buy }} </td>
          {% else %}
            <td>Sin cotizacion </td>
          {% endif %}
          {% if values.sell != None %}
            <td>${{ values.sell }} </td>
          {% else %}
            <td>Sin cotizacion </td>
          {% endif %}
          </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </tbody>
    </TABLE>
    <h2>Dinero liquido disponible: {{user.virtual_money}}</h2>
    <h2>Capital: {{capital}}</h2>
  {% else %}
      <h1> No dispone de activos!!!</h1>
      <h2>Dinero liquido disponible : {{user.virtual_money}} </h2>
  {% endif %}
  <center>
    <br><a href="{% url 'home' %}">Volver al inicio</a>
{% endblock content %}
